@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-black tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold font-[Montserrat]
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Montserrat]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  h3 {
    @apply text-lg sm:text-2xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#1a8ae5] to-[#64b7f6] text-white
  }

  image {
    @apply min-w-full min-h-full
  }

  #blogPost {
    font-size: 1.25rem;
    width: 50%;
    margin: auto;
    
 }
  @media screen and (max-width: 820px){
      #blogPost {
       font-size: 1rem !important;
       width: 95% !important; 
    }
  }

}